.publish-ride-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/2224/road-people-street-smartphone.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  color: white;
  font-family: Arial, sans-serif;
}

.publish-ride-form {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  border-radius: 0.5rem;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1.5rem;
}

label {
  grid-column: 1 / 2;
  grid-row: 1;
}

input,
select {
  grid-column: 2 / 3;
  grid-row: 1;
  width: calc(100% - 10px); /* Adjust width as needed */
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
